
<div class="row justify-content-center contenedor-hazte-premium py-5">
  
  <div class="col-6 align-self-center">
    <div class="card">
      <img src="assets/3837.jpg" alt="" class=" img-fluid imagen-promocional">        
    </div>
  </div>

  <div class="col-5 text-center">
    <h3 class="titulo-hazte-premium text-muted ">¿Quieres vender o conseguir inquilinos y pensionados más rapido?</h3>
    <!--Aumenta tus posibilidades llegando a un mayor publico-->
    <p class="pt-2 font-weight-bold parrafo-beneficios-hazte-premium" >Haz que tus anuncios destaquen y lleguen a mas personas en menos tiempo.</p>
    <p class="parrafo-hazte-premium">hazte premium y disfruta de los beneficios</p>
    <a href="#" class="btn btn-success mt-3 font-weight-bold rounded">Mas informacion</a>
  </div>

</div> 