<!-- Modal busco pension-apto-->
<form action="" class="need-validate" (ngSubmit)="guardar()" ngNativeValidate>

  <div class="modal " id="buscoPensionAptoModal" tabindex="-1" role="dialog"
    aria-labelledby="reestablecerContraseniaModalLabel" aria-hidden="true">
    <div class="modal-dialog  " role="document">

      <div class="modal-content">

        <div class="row justify-content-end">
          <!--Boton cerrar (x)-->
          <button type="button" class="close col-1 pr-3" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">

          <div class="form-group mt-3">
            <h2 class="text-center titulo-modal">Busco {{categoriaBuscar}}</h2>
            <hr class="linea-divisora">
            <p class="text-center text-muted texto-informativo-modal">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque est reprehenderit ut.
            </p>
          </div>

          <div class="form-group" *ngIf=" categoriaBuscar != 'pension' ">
            <select name="categoriaBuscarBPA" id="" class="custom-select">
              <option value="opcion1" selected>Apartamento</option>
              <option value="opcion2">Habitacion</option>
            </select>
          </div>


          <div class="input-group form-group">
            <input type="text" class="form-control" placeholder="ubicacion - ciudad" required autocorrect="off"
              autocapitalize="off" spellcheck="off" #searchBuscoPensionApto name='ciudadBPA'>
            <div class="input-group-append">
              <a class="btn btn-primary text-white">
                <i class="fa fa-search"></i>
              </a>
            </div>
          </div>


          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input type="tel" class="form-control" placeholder="Saldo disponible" required [pattern]="regExp.precio" maxlength="15">
            <small class="form-text text-muted w-100">
              Ingresa tu saldo sin puntos ni simbolos.
            </small>
          </div>

          <div class="input-group form-group">
            <input type="tel" class="form-control" placeholder="celular" required maxlength="10" [pattern]="regExp.celular">
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-phone"></i>
              </span>
            </div>
            <small class="form-text text-muted w-100">
              Ingresa tu numero celular sin puntos ni espacios.
            </small>
          </div>

          <div class="form-group">
            <label for="descripcionBuscoPensionApto">Descripcion</label>
            <small class="form-text text-muted w-100" *ngIf="descripcionHelpActivar">
              Descripcion demasiada larga.
            </small>
            <textarea id="descripcionBuscoPensionApto" class="w-100 form-control descripcionBuscoPensionApto"
              [(ngModel)]="descripcion" name="descripcionBPA" placeholder="Describe con mas detalles lo que buscas..." required
              [maxLength]="maxCaracteresDescripcion">
            </textarea>
          </div>

        </div>

        <div class="modal-footer modal-footer-buscoPensionApto">

          <button type="button" class="btn btn-outline-secondary btn-block font-weight-bold mt-2" data-dismiss="modal">
            Cancelar
          </button>
          <button type="submit" class="btn btn-outline-success btn-block font-weight-bold">
            Publicar
          </button>
        </div>

      </div>
    </div>
  </div>

</form>