<div class="container mt-4">
  <div class="card">
    <div class="card-body">

      <form class="form-row align-items-center justify-content-around" (ngSubmit)="resetPass()" ngNativeValidate
        #formReset>

        <div class="form-group col-12">
          <img src="assets/colibri.png" alt="" class="rounded-circle modal-icono mx-auto d-block">
          <h2 class="text-center titulo-modal-icono">Reestablece tu contraseña</h2>
          <p class="text-center">
            Encuentra y promociona articulos, apartamentos y pensiones. <a routerLink="/">Asogasmon</a>
          </p>
        </div>

        <div class="form-group col-6" *ngIf="!actualizado">
          <label for="resetContrasenia">Nueva contraseña</label>
          <input type="password" class="form-control" placeholder="Contraseña" minlength="6" maxlength="20"
            name="resetContrasenia" id="resetContrasenia" [pattern]="regExp.password" required>
        </div>

        <div class="form-group col-4 align-self-end" *ngIf="!actualizado">
          <button type="submit" class="btn btn-success">Actualizar contraseña</button>
        </div>

        <div class="form-group col-8" *ngIf="actualizado">
          <div class="alert alert-primary" role="alert">
            <p class="text-center font-weight-bold">
              Actualización de contraseña exitosa, disfruta de los beneficios de <a routerLink="/">Asogasmon</a>.
            </p>
          </div>
        </div>

        <div class="form-group col-8" *ngIf="mensajeError">
          <div class="alert alert-secondary" role="alert">
            <p class="text-center">
              Error al actualizar la contraseña, intentalo nuevamente.
            </p>
          </div>
        </div>

      </form>

    </div>
  </div>
</div>