<!--Ofertas destacadas-->
<div [id]="idCarousel" class="carousel slide my-2" data-ride="carousel">


    <div class="carousel-inner" role="listbox">

        <div class="carousel-item ">
            <div [class]="claseContainer">
                <div class="row justify-content-center">

                    <div [class]="claseTamColumna" *ngFor="let oferta of ofertas1; let x = index">
                        <div class="card mb-2">

                            <div [ngSwitch]="oferta.INMUEBLE">
                                <div *ngSwitchCase="'PENSION'" class="card-img-top" [style.background-image]="'url('+API_URL+'ofertasPension/'+oferta.ID+'/'+fotosOfertas1[x].FOTO+')' "></div>
                                <div *ngSwitchCase="'HABITACION'" class="card-img-top" [style.background-image]="'url('+API_URL+'ofertasHabitacion/'+oferta.ID+'/'+fotosOfertas1[x].FOTO+')' "></div>
                                <div *ngSwitchCase="'CASAAPTO'" class="card-img-top" [style.background-image]="'url('+API_URL+'ofertasCasaApto/'+oferta.ID+'/'+fotosOfertas1[x].FOTO+')' "></div>
                            </div>

                            <div class="card-body text-left">
                                <h4 class="titulo-card ">
                                    {{oferta.TITULO_AVISO}}
                                </h4>

                                <div *ngIf="oferta.DIRECCION; else ciudadSOD">

                                    <span class="ubicacion text-muted">
                                        <i class="fa fa-map-marker"></i>
                                        {{oferta.DIRECCION | titlecase }}
                                    </span>

                                </div>
                                <ng-template #ciudadSOD>

                                    <ng-container *ngIf="oferta.CIUDAD; else departamentoSOD">
                                        <span class="ubicacion text-muted">
                                            <i class="fa fa-map-marker"></i>
                                            {{oferta.CIUDAD | titlecase }}
                                        </span>
                                    </ng-container>

                                </ng-template>
                                <ng-template #departamentoSOD>
                                    <ng-container *ngIf="oferta.DEPARTAMENTO; else paisSOD">
                                        <span class="ubicacion text-muted">
                                            <i class="fa fa-map-marker"></i>
                                            {{oferta.DEPARTAMENTO | titlecase }}
                                        </span>
                                    </ng-container>
                                </ng-template>
                                <ng-template #paisSOD>

                                    <span class="ubicacion text-muted">
                                        <i class="fa fa-map-marker"></i>
                                        {{oferta.PAIS | titlecase }}
                                    </span>

                                </ng-template>

                            </div>
                            <div class="card-footer ">
                                <span class="precio text-body">COP
                                    {{oferta.PRECIO_MENSUAL | currency:undefined:'symbol':'1.0-0'}}
                                </span>

                                <div [ngSwitch]="oferta.INMUEBLE">

                                    <a *ngSwitchCase="'PENSION'" class="btn btn-ver-mas btn-sm btn-block " [routerLink]="'/ofertasPension/'+oferta.ID" data-target="_blank">Ver más</a>
                                    <a *ngSwitchCase="'HABITACION'" class="btn btn-ver-mas btn-sm btn-block " [routerLink]="'/ofertasHabitacion/'+oferta.ID" data-target="_blank">Ver más</a>
                                    <a *ngSwitchCase="'CASAAPTO'" class="btn btn-ver-mas btn-sm btn-block " [routerLink]="'/ofertasCasaApto/'+oferta.ID" data-target="_blank">Ver más</a>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="carousel-item active">
            <div [class]="claseContainer">
                <div class="row justify-content-center">

                    <div [class]="claseTamColumna" *ngFor="let oferta of ofertas2; let x = index">
                        <div class="card mb-2">

                            <div [ngSwitch]="oferta.INMUEBLE">
                                <div *ngSwitchCase="'PENSION'" class="card-img-top" [style.background-image]="'url('+API_URL+'ofertasPension/'+oferta.ID+'/'+fotosOfertas2[x].FOTO+')' "></div>
                                <div *ngSwitchCase="'HABITACION'" class="card-img-top" [style.background-image]="'url('+API_URL+'ofertasHabitacion/'+oferta.ID+'/'+fotosOfertas2[x].FOTO+')' "></div>
                                <div *ngSwitchCase="'CASAAPTO'" class="card-img-top" [style.background-image]="'url('+API_URL+'ofertasCasaApto/'+oferta.ID+'/'+fotosOfertas2[x].FOTO+')' "></div>
                            </div>

                            <div class="card-body text-left">
                                <h4 class="titulo-card ">
                                    {{oferta.TITULO_AVISO}}
                                </h4>

                                <div *ngIf="oferta.DIRECCION; else ciudadSOD">

                                    <span class="ubicacion text-muted">
                                        <i class="fa fa-map-marker"></i>
                                        {{oferta.DIRECCION | titlecase }}
                                    </span>

                                </div>
                                <ng-template #ciudadSOD>

                                    <ng-container *ngIf="oferta.CIUDAD; else departamentoSOD">
                                        <span class="ubicacion text-muted">
                                            <i class="fa fa-map-marker"></i>
                                            {{oferta.CIUDAD | titlecase }}
                                        </span>
                                    </ng-container>

                                </ng-template>
                                <ng-template #departamentoSOD>
                                    <ng-container *ngIf="oferta.DEPARTAMENTO; else paisSOD">
                                        <span class="ubicacion text-muted">
                                            <i class="fa fa-map-marker"></i>
                                            {{oferta.DEPARTAMENTO | titlecase }}
                                        </span>
                                    </ng-container>
                                </ng-template>
                                <ng-template #paisSOD>

                                    <span class="ubicacion text-muted">
                                        <i class="fa fa-map-marker"></i>
                                        {{oferta.PAIS | titlecase }}
                                    </span>

                                </ng-template>

                            </div>
                            <div class="card-footer ">
                                <span class="precio text-body">COP
                                    {{oferta.PRECIO_MENSUAL | currency:undefined:'symbol':'1.0-0'}}
                                </span>

                                <div [ngSwitch]="oferta.INMUEBLE">

                                    <a *ngSwitchCase="'PENSION'" class="btn btn-ver-mas btn-sm btn-block " [routerLink]="'/ofertasPension/'+oferta.ID" data-target="_blank">Ver más</a>
                                    <a *ngSwitchCase="'HABITACION'" class="btn btn-ver-mas btn-sm btn-block " [routerLink]="'/ofertasHabitacion/'+oferta.ID" data-target="_blank">Ver más</a>
                                    <a *ngSwitchCase="'CASAAPTO'" class="btn btn-ver-mas btn-sm btn-block " [routerLink]="'/ofertasCasaApto/'+oferta.ID" data-target="_blank">Ver más</a>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

    <a class="carousel-control-prev carrusel-control" [href]="'#'+idCarousel" [style.padding-right]="'inherit'" role="button" data-slide="prev">

        <i class="fa fa-angle-left fa-2x"></i>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next carrusel-control" [href]="'#'+idCarousel" [style.padding-left]="'inherit'" role="button" data-slide="next">
        <i class="fa fa-angle-right fa-2x"></i>
        <span class="sr-only">Next</span>
    </a>

</div>