<!--Ofertas destacadas-->
<div [id]="idCarousel" class="carousel slide my-2" data-ride="carousel">


    <div class="carousel-inner" role="listbox">

        <div class="carousel-item ">
            <div [class]="claseContainer">
                <div class="row justify-content-center">

                    <div [class]="claseTamColumna">
                        <div class="card mb-2">

                            <div class="card-img-top" [style.background-image]="'url('+ruta+imagenes[3]+')' "></div>

                            <div class="card-body text-left">
                                <h4 class="titulo-card "> Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae cupiditate quod exercitationem. Pension en arriendo Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet.</h4>
                                <div>
                                    <span class="ubicacion text-muted">
                    <i class="fa fa-map-marker"></i>
                    av. pedro heredia calle#25b
                  </span>

                                </div>

                            </div>
                            <div class="card-footer ">
                                <span class="precio text-body">COP {{precioTest | currency:undefined:'symbol':'1.0-0'}}</span>
                                <a class="btn btn-ver-mas btn-sm btn-block " routerLink="/oferta/1" data-target="_blank">Ver más</a>
                            </div>
                        </div>
                    </div>

                    <div [class]="claseTamColumna">
                        <div class="card mb-2">

                            <div class="card-img-top" [style.background-image]="'url('+ruta+imagenes[0]+')' "></div>

                            <div class="card-body text-left">
                                <h4 class="titulo-card ">Apartamento en arriendo</h4>
                                <div>
                                    <span class="ubicacion text-muted">
                    <i class="fa fa-map-marker"></i>
                    av. camino de enmedio calle #26a
                  </span>

                                </div>

                            </div>
                            <div class="card-footer ">
                                <span class="precio text-body">$ 9.000.000 COP</span>
                                <a class="btn btn-ver-mas btn-sm btn-block " routerLink="/oferta/1" data-target="_blank">Ver más</a>
                            </div>
                        </div>
                    </div>

                    <div [class]="claseTamColumna" *ngIf="!miniSmartphoneViewport">
                        <div class="card mb-2">

                            <div class="card-img-top" [style.background-image]="'url('+ruta+imagenes[1]+')' "></div>

                            <div class="card-body text-left">
                                <h4 class="titulo-card ">Libro de matematica en venta</h4>
                                <div>
                                    <span class="ubicacion text-muted">
                    <i class="fa fa-map-marker"></i>
                    Cartagena Bolivar
                  </span>

                                </div>

                            </div>
                            <div class="card-footer ">
                                <span class="precio text-body">$ 800.000 COP</span>
                                <a class="btn btn-ver-mas btn-sm btn-block " routerLink="/oferta/1" data-target="_blank">Ver más</a>
                            </div>
                        </div>
                    </div>

                    <div [class]="claseTamColumna" *ngIf="!mostrar3Columnas">
                        <div class="card mb-2">

                            <div class="card-img-top" [style.background-image]="'url('+ruta+imagenes[2]+')' "></div>

                            <div class="card-body text-left">
                                <h4 class="titulo-card ">Apartamento en venta</h4>
                                <div>
                                    <span class="ubicacion text-muted">
                    <i class="fa fa-map-marker"></i>
                    San josé de los campanos av. principal calle #66c-34b
                  </span>

                                </div>

                            </div>
                            <div class="card-footer ">
                                <span class="precio text-body">$ 100.000.000 COP</span>
                                <a class="btn btn-ver-mas btn-sm btn-block " routerLink="/oferta/1" data-target="_blank">Ver más</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="carousel-item active">
            <div [class]="claseContainer">
                <div class="row justify-content-center">

                    <div [class]="claseTamColumna">
                        <div class="card mb-2">
                            <div class="card-img-top" [style.background-image]="'url('+ruta+imagenes2[0]+')' "></div>

                            <div class="card-body text-left">
                                <h4 class="titulo-card ">Habitacion en arriendo</h4>
                                <div>
                                    <span class="ubicacion text-muted">
                    <i class="fa fa-map-marker"></i>
                    Boston sector macarena calle#45-63b
                  </span>

                                </div>

                            </div>
                            <div class="card-footer ">
                                <span class="precio text-body">$ 45.000.000 COP</span>
                                <a class="btn btn-ver-mas btn-sm btn-block " routerLink="/oferta/1" data-target="_blank">Ver más</a>
                            </div>
                        </div>
                    </div>

                    <div [class]="claseTamColumna">
                        <div class="card mb-2">
                            <div class="card-img-top" [style.background-image]="'url('+ruta+imagenes2[1]+')' "></div>

                            <div class="card-body text-left">
                                <h4 class="titulo-card ">Bata de laboratorio de quimica en venta</h4>
                                <div>
                                    <span class="ubicacion text-muted">
                    <i class="fa fa-map-marker"></i>
                    Barranquilla Atlantico
                  </span>

                                </div>

                            </div>
                            <div class="card-footer ">
                                <span class="precio text-body">$ 65.000 COP</span>
                                <a class="btn btn-ver-mas btn-sm btn-block " routerLink="/oferta/1" data-target="_blank">Ver más</a>
                            </div>
                        </div>
                    </div>

                    <div [class]="claseTamColumna" *ngIf="!miniSmartphoneViewport">
                        <div class="card mb-2">
                            <div class="card-img-top" [style.background-image]="'url('+ruta+imagenes2[2]+')' "></div>

                            <div class="card-body text-left">
                                <h4 class="titulo-card ">Calculadora casio + transportador en venta</h4>
                                <div>
                                    <span class="ubicacion text-muted">
                    <i class="fa fa-map-marker"></i>
                    Cartagena Bolivar
                  </span>

                                </div>

                            </div>
                            <div class="card-footer ">
                                <span class="precio text-body">$ 60.000 COP</span>
                                <a class="btn btn-ver-mas btn-sm btn-block " routerLink="/oferta/1" data-target="_blank">Ver más</a>
                            </div>
                        </div>
                    </div>

                    <div [class]="claseTamColumna" *ngIf="!mostrar3Columnas">
                        <div class="card mb-2">
                            <div class="card-img-top" [style.background-image]="'url('+ruta+imagenes2[3]+')' "></div>

                            <div class="card-body text-left">
                                <h4 class="titulo-card ">Voltimetro en venta</h4>
                                <div>
                                    <span class="ubicacion text-muted">
                    <i class="fa fa-map-marker"></i>
                    Turbaco Bolivar
                  </span>

                                </div>

                            </div>
                            <div class="card-footer ">
                                <span class="precio text-body">$ 35.000 COP</span>
                                <a class="btn btn-ver-mas btn-sm btn-block" routerLink="/oferta/1" data-target="_blank">Ver más</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

    <a class="carousel-control-prev carrusel-control" [href]="'#'+idCarousel" [style.padding-right]="'inherit'" role="button" data-slide="prev">

        <i class="fa fa-angle-left fa-2x"></i>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next carrusel-control" [href]="'#'+idCarousel" [style.padding-left]="'inherit'" role="button" data-slide="next">
        <i class="fa fa-angle-right fa-2x"></i>
        <span class="sr-only">Next</span>
    </a>

</div>