
<div id="carouselPrincipal" class="carousel slide  carrusel-principal" data-ride="carousel">
    
    <ol class="carousel-indicators d-none d-md-flex">
      <li data-target="#carouselPrincipal" data-slide-to="0" class="active"></li>
      <li data-target="#carouselPrincipal" data-slide-to="1"></li>
      <li data-target="#carouselPrincipal" data-slide-to="2"></li>
      <li data-target="#carouselPrincipal" data-slide-to="3"></li>
      <li data-target="#carouselPrincipal" data-slide-to="4"></li>
      <li data-target="#carouselPrincipal" data-slide-to="5"></li>
    </ol>

    <div class="carousel-inner carrusel-imagenes">
       
      <div class="carousel-item active">
        <img src="assets/12323.jpg" class="d-block w-100" alt="articulos, pensiones y apartamentos">
        <div class="carousel-caption   d-md-block carrusel-texto">
          <h5>Encuentra tu habitacion</h5> 
          <p>Encuentra la habitacion adecuada a tus necesidades, descubre quien vive alli y organiza una visita</p>
        </div>
      </div>

      <div class="carousel-item">
        <img src="assets/12324.jpg" class="d-block w-100" alt="articulos, pensiones y apartamentos">
        <div class="carousel-caption   d-md-block carrusel-texto">
          <h5>¿Buscas pension?</h5> 
          <p>Encuentra tu pension ideal, conocela en detalle y contacta con el pensionante</p>
        </div>
      </div>

      <div class="carousel-item">
        <img src="assets/179809-OWKTX6-319.jpg" class="d-block w-100" alt="articulos, pensiones y apartamentos">
        <div class="carousel-caption   d-md-block carrusel-texto">
          <h5>¿Tienes articulos universitario que quieres vender o alquilar?</h5> 
          <a href="#" class="btn btn-success btn-sm font-weight-normal">Haz un anuncio y aumenta tus posibilades</a>
        </div>
      </div> 

      <div class="carousel-item">
        <img src="assets/12324.jpg" class="d-block w-100" alt="articulos, pensiones y apartamentos">
        <div class="carousel-caption   d-md-block carrusel-texto">
          <h5>¿Buscas pensionado(a)?</h5> 
          <p>Ofrece tu servicio directamente o espere a ser contactado</p>
        </div>
      </div>
    
      <div class="carousel-item">
        <img src="assets/3837.jpg" class="d-block w-100 " alt="articulos, pensiones y apartamentos">
        <div class="carousel-caption  d-md-block carrusel-texto">
          <h5>Encuentra articulos universitarios</h5> 
          <p>Descubre las mejores ofertas y categorias populares</p>
        </div>
      </div>
      
      <div class="carousel-item">
        <img src="assets/Apartamento-en-Arriendo-en-Mazurn.jpg" class="d-block w-100" alt="articulos, pensiones y apartamentos">
        <div class="carousel-caption  d-md-block carrusel-texto">
          <h5>Encuentra inquilino</h5> 
          <p>Publica tu apartamento o habitaciones</p>
        </div>
      </div>

      
    </div>
    <a class="carousel-control-prev" href="#carouselPrincipal" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselPrincipal" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Siguiente</span>
    </a>
</div>