
<agm-map #map [latitude]="ubicacioMapaFiltrosService.lat" [longitude]="ubicacioMapaFiltrosService.lng"  [zoom]="ubicacioMapaFiltrosService.zoom" [minZoom]="minZoom"  [streetViewControl]="streetView" [style.height.px]="heightMapa">
  <agm-marker-cluster [styles]="clusterStyles" >
    <agm-marker *ngFor="let coord of coordenadas " [iconUrl]="markerIconUrl()"  [latitude]="coord.lat" [longitude]="coord.lng" [title]="titleMarker" [label]="labelMarker" [markerDraggable]="draggable">
    </agm-marker>
  </agm-marker-cluster>
</agm-map>

