<div class="contenedor-footer row justify-content-center">
  <div class="col">

    <ul class="nav nav-pills row justify-content-center">
      <li class="nav-item">
        <a href="#" class="nav-link" >Preguntas frecuentes</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link" >Terminos y condiciones</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link" >Acerca de Asogasmon</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link" >Contáctanos</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link" >Privacidad</a>
      </li>
    </ul>
    <div class="derechos-reservados row justify-content-center pt-2 pb-3">
      <small>Anuncios gratis - Copyright © 2019 Asogasmon</small>
    </div> 

  </div> 
</div>
