.titulo-compartir-modal {
    font-size: 24px;
    font-weight: 600;
    font-family: Helvetica;
    color: rgb(72, 72, 72) !important;
}

.item-servicio {
    font-weight: 400;
    font-family: Helvetica;
    color: rgb(72, 72, 72) !important;
    padding-bottom: 18px;
    padding-top: 18px;
}

.texto-compartir {
    font-family: Helvetica;
    color: rgb(72, 72, 72) !important;
}


/*iconos*/

.fa-servicios {
    width: 18px;
    height: 19px;
    color: rgb(72, 72, 72) !important;
    margin-right: 3px;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.fa-facebook-messenger {
    background-image: url("../../../../../../../../assets/iconos/facebook-messenger-brands.svg");
}