  
<!-- Modal -->
<div class="modal fade" id="editarDatosBasicosModal" tabindex="-1" role="dialog" aria-labelledby="editarDatosBasicosModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title subtitulo-editar-datos" id="editarDatosBasicosModalTitle">Edicion de datos basicos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pr-5 pl-5">
        
        <div class="form-group">
          <p class="text-center subtitulo-editar-datos">
            Modifique los datos que desea actualizar
          </p>
        </div>

        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" class="form-control" placeholder="Nombre" name="Nombre" [(ngModel)]='nombre' id="Nombre" required>
        </div>

        <div class="form-group">
          <label for="apellidos">Apellidos</label>
          <input type="text" class="form-control" placeholder="Apellidos" name="apellidos" [(ngModel)]='apellidos' id="apellidos" required>
        </div>

        <div class="form-group">
          <label for="email">Correo electronico</label>
          <input type="email" class="form-control" placeholder="Correo electronico" name="email" [(ngModel)]='correoElectronico' id="email" required>
        </div>


            
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success">Guardar cambios</button>
      </div>
    </div>
  </div>
</div>