<section class="row">
    <div class="col">
        <!--Slide de imagenes encabezado-->
        <app-slide-imagenes-principal></app-slide-imagenes-principal>
    </div>
</section>

<!--MAIN-->
<div class="row mt-4">
    <main class="col" role="main">

        <!--Categorias-->
        <app-categorias></app-categorias>

        <!--Ofertas destacadas-->
        <h3 class="my-4 text-muted ml-4 titulo-ofertas-destacadas">Ofertas destacadas</h3>
        <div class="card row card-fondo-ofertas-destacadas">
            <app-slide-ofertas-destacadas></app-slide-ofertas-destacadas>
        </div>

        <!--Ofertas iniciales-->
        <h3 class="my-4 text-muted ml-4 titulo-ofertas-destacadas">Ultimas ofertas</h3>
        <app-ofertas></app-ofertas>


    </main>
</div>

<!--ASIDE(banner publicitario)-->
<div class="row mt-4">
    <aside class="col text-white text-center">
        <div class="rounded banner-promocional">
            <h5>esto es una publicidad</h5>
        </div>
    </aside>
</div>

<!--HAZTE PREMIUM-->
<div class="row mt-4">
    <div class="col">
        <app-hazte-premium></app-hazte-premium>
    </div>
</div>