.titulo-card {
    font-size: 1.2rem;
    display: block;
    overflow: hidden;
    max-height: 2.85rem;
    /*40px;*/
}

.ubicacion {
    font-size: 0.81rem;
    /* 13px;*/
    text-align: left;
    display: block;
    overflow: hidden;
    max-height: 2.2rem;
    /*35px;*/
}

a.btn-me-interesa {
    background: #8cbf31;
    color: #fff;
}

a.btn-me-interesa:hover {
    background: #8cbf31;
    color: #fff;
}

a.btn-ver-mas {
    color: #fff;
    background-color: #563d7c;
    font-family: 'Lucida Sans';
    font-weight: 600;
}

a.btn-ver-mas:hover {
    color: #fff;
    background-color: #6a499b;
    /*#563d7c;*/
}

.precio {
    display: block;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.imagen-promocional {
    height: 330px;
    width: 100%;
}

.texto-imagen-promocional {
    width: 40%;
    font-size: 27px;
    font-family: Circular;
    text-shadow: 2px 2px 10px black
}

.btn-publicar {
    background: #ff9900;
    color: white;
    width: 20%;
    font-weight: 600;
}

.btn-publicar:hover {
    color: white;
}

div.card {
    height: 21.6875rem;
    /*347px;*/
}

div.card div.card-img-top {
    background-size: contain;
    background-repeat: no-repeat;
    height: 8.75rem;
    /*140px;*/
    background-position: center;
    background-color: aliceblue;
}


/* configurando el numero de columnas*/


/*max-width: 575px*/

@media (max-width: 480px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 481px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 4;
    }
}


/****************************************************************************/


/***************** Adaptacion para tablets mas grandes **********************/


/****************************************************************************/

@media screen and (min-width: 768px) and (max-width: 930px) {
    .titulo-card {
        font-size: 0.9375rem;
        /*15px;*/
        max-height: 2.1875rem;
        /*35px;*/
    }
    .ubicacion {
        font-size: 0.8125rem;
        /*13px;*/
        max-height: 2.1875rem/*35px;*/
    }
    .columna-contenedora {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}


/****************************************************************************/


/***************** Adaptacion para tablets Smartphones **********************/


/****************************************************************************/

@media screen and (max-width: 480px) {
    .columna-contenedora {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}