<div class="card ">

  <div class="card-body row card-body-categorias align-items-center">
    <div class="col btn btn-outline-light">  
      <a class="row link-categoria justify-content-center " routerLink="/apartamentos">
        <i class="fa fa-building fa-2x col-2 col-sm-3 col-lg-3 col-md-2 d-flex justify-content-end pr-0 icono-categorias"></i>
        <h2 class="col-9 col-lg-7 col-md-8">Apartamentos</h2>
      </a>
    </div>
 
    <div class="col btn btn-outline-light">
      <a class="row  link-categoria  border-left border-primary justify-content-center" routerLink="/pensiones">
        <i class="fa fa-home fa-2x col-2 col-sm-3 col-lg-3 col-md-2 d-flex justify-content-end pr-0 icono-categorias"></i>
        <h2 class="col-8 col-md-7">Pensiones</h2>
      </a>
    </div>

    <div class="col btn btn-outline-light">
      <a class="row  link-categoria border-left border-primary justify-content-center" routerLink="/articulos">
        <i class="fa fa-book fa-2x col-2 col-sm-3 col-lg-3  col-md-2 d-flex justify-content-end pr-0 icono-categorias"></i>
        <h2 class="col-8 col-lg-7 col-md-8">Articulos</h2>
      </a>
    </div>

  </div>

</div>
