<div class="container-fluid contenedor-body">
  <div class="row">
    <div class="col ">

      <!--NAVEGACION Y ENCABEZADO-->
      <div class="row">
        <header class="col" role="heading">
          <!--Barra de navegacion-->
          <app-barra-navegacion></app-barra-navegacion>
        </header>
      </div>

      <!--MAIN-->
      <main class="row justify-content-center contenedor-main" role="main">

        <div class="col-lg-10 col-11 card card-contenedor-principal">
          <div class="card-body card-body-contenedor-principal">

            <!--Encabezado de publicar pension-->
            <header class="col-12 mb-4">
              <h2 class="titulo-publicar text-center">Publica tu articulo</h2>
              <p class="parrafo-introductorio-publicar">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Amet, iure! Consectetur, eaque eius, maiores nulla ducimus,
                temporibus sunt ipsam doloremque amet nihil corporis repellendus?
                Quo ullam dolore ipsa culpa quia.
              </p>
            </header>

            <hr class="w-100">

            <!--Formulario de publicar pension-->
            <form action="" class="col-12 mt-4 mb-3" (ngSubmit)="guardar()" ngNativeValidate #formPublicarArticulo>

              <!--Dirección-->
              <div class="form-row justify-content-center">

                <h3 class="subtitulo-publicar col-12 col-sm-10 ">Ingresa tu ciudad, departamento, municipo o dirección
                  de residencia</h3>

                <div class="input-group form-group col-12 col-sm-10">
                  <input type="text" class="form-control" placeholder="Ingrese la direccion" required autocorrect="off"
                    autocapitalize="off" spellcheck="off" #search>
                  <div class="input-group-append">
                    <a class="btn btn-primary text-white">
                      <i class="fa fa-map-marker"></i>
                    </a>
                  </div>
                </div>

              </div>

              <!--Categoria del articulo-->
              <div class="row justify-content-center mt-5">

                <h3 class="subtitulo-publicar col-10 mb-4">Categoria del articulo</h3>

                <div class="col-12 col-sm-10">
                  <div class="row justify-content-center">

                    <div class="col-12 mb-3 ">

                      <div class="row justify-content-center">

                        <div class="col-5">
                          <div class="list-group" id="listTabCategorias" role="tablist">

                            <!--Listando todas las categorias-->
                            <a class="list-group-item list-group-item-action"
                              *ngFor="let categoria of categoriasA;let i = index" id="listCategoria{{categoria.NOMBRE}}"
                              data-toggle="list" href="#listSubcategoria{{categoria.NOMBRE}}" role="tab"
                              (click)="asignarCategoria(categoria)">
                              <label><i [class]="categoria.ICONO + ' ' +clasesBase"></i>
                                {{categoria.NOMBRE | titlecase}}</label>
                            </a>

                          </div>
                        </div>
                        <div class="col-7">
                          <div class="tab-content" id="navTabContentCategorias">
                            <div class="tab-pane fade show" *ngFor="let categoria of categoriasA;let i = index"
                              id="listSubcategoria{{categoria.NOMBRE}}" role="tabpanel">

                              <div class="list-group list-group-flush" *ngIf="categoria.NOMBRE != categoriaOtros">
                                <!--Listando las subcategorias para cada categoria-->
                                <button type="button" class="list-group-item list-group-item-action"
                                  *ngFor="let subCategoria of categoria.sub_categorias; let x = index;"
                                  data-toggle="list" (click)="asignarSubCategoria(subCategoria)">
                                  {{subCategoria.NOMBRE | titlecase}}
                                </button>
                              </div>

                            </div>

                          </div>
                        </div>

                      </div>

                    </div>

                  </div>
                </div>

              </div>


              <!--Fotos de la pension-->
              <div class="row justify-content-center mt-5">

                <h3 class="subtitulo-publicar col-10 mb-4">Agregue al menos 1 foto del articulo</h3>

                <div class="col-7 col-sm-5 col-lg-4  align-self-center">

                  <div class="image-upload">
                    <label for="file-input">
                      <!--[style.background-image]="'url('+urlImagenPrincipal+')'"-->
                      <div class="img-thumbnail " [ngStyle]="{'background-image':'url('+urlImagenPrincipal+')'}"></div>
                      <i class="fa fa-folder-plus fa-file-imagen"></i>
                    </label>


                    <input id="file-input" type="file" accept="image/*" (change)="onSelectFile($event)" />
                  </div>

                </div>

                <div class="col-10 col-sm-6 col-lg-5">
                  <div class="row">

                    <div class="image-upload col-6" *ngFor="let urlImagen of urlImagenes; let i = index">
                      <label for="file-input{{i}}">
                        <!--[style.background-image]="'url('+urlImagen+')' "-->
                        <div class="img-thumbnail" [ngStyle]="{'background-image':'url('+urlImagen+')'}"></div>
                        <i class="fa fa-folder-plus"></i>
                      </label>

                      <input id="file-input{{i}}" type="file" accept="image/*"
                        (change)="onSelectFileSecond($event, i)" />
                    </div>

                  </div>
                </div>

              </div>

              <!--Precio del articulo-->
              <div class="row justify-content-center mt-5">

                <h3 class="subtitulo-publicar col-10 mb-3">Precio</h3>

                <div class="input-group mb-3 col-7 col-sm-6 col-lg-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                  </div>

                  <input type="tel" class="form-control text-center" placeholder="Precio del articulo"
                    aria-label="Precio del articulo" [pattern]="regExp.precio" maxlength="15" required>

                </div>

                <small class="form-text text-muted w-100 text-center">
                  Ingrese el precio sin puntos ni simbolos.
                </small>

              </div>

              <!--Nro. Celular-->
              <div class="row justify-content-center mt-5">

                <h3 class="subtitulo-publicar col-10 mb-3">Número celular</h3>

                <div class="input-group form-group col-9 col-sm-8 col-md-7 col-lg-5">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="fa fa-phone"></i>
                    </span>
                  </div>
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      +57
                    </span>
                  </div>

                  <input type="tel" class="form-control text-center" placeholder="Número celular"
                    [pattern]="regExp.celular" maxlength="10" required>

                </div>

                <small class="form-text text-muted w-100 text-center">
                  Ingrese su numero celular sin puntos ni espacios.
                </small>

              </div>

              <!--Titulo del aviso-->
              <div class="row justify-content-center mt-5">

                <h3 class="subtitulo-publicar col-10 mb-3">Titulo del aviso</h3>

                <div class="form-group col-9 col-sm-8 col-md-7">
                  <input type="text" class="w-100 form-control text-center"
                    placeholder="En pocas palabras ¿que ofreces?" required [(ngModel)]="titulo" name="tituloPA"
                    [maxLength]="maxCaracteresTitulo" [pattern]="regExp.tituloReg">
                </div>
              </div>


              <!--Descripcion del aviso-->
              <div class="row justify-content-center mt-5">

                <h3 class="subtitulo-publicar col-10 mb-3">Descripcion</h3>

                <div class="form-group col-9 col-sm-8 col-md-7">
                  <textarea class="w-100 form-control descripcionPublicar"
                    placeholder="Resume los detalles más relevantes de tu oferta para llamar la atencion de más usuarios..."
                    required [(ngModel)]="descripcion" name="descripcionPA" [maxLength]="maxCaracteresDescripcion">
                  </textarea>
                </div>
              </div>

              <!--Mensaje de datos incompletos (faltan las fotos)-->
              <div class="alert alert-secondary" role="alert" *ngIf="datosIncorrectos">
                <p class="text-center">
                  Por favor asegurate de ingresar todos los datos requeridos por el formulario.
                </p>
              </div>

              <!--Publicar-->
              <div class="row justify-content-center mt-5">

                <div class="form-group col-6 col-md-5">
                  <button type="submit" class="btn btn-publicar btn-block font-weight-bold">Públicar</button>
                </div>

              </div>

            </form>

          </div>
        </div>

      </main>

      <!--ASIDE(banner publicitario)-->
      <div class="row mt-4">
        <aside class="col text-white text-center">
          <div class="rounded banner-promocional">
            <h5>esto es una publicidad</h5>
          </div>
        </aside>
      </div>


      <!--FOOTER-->
      <div class="row mt-4">
        <footer class="col" role="">
          <app-pie-pagina></app-pie-pagina>
        </footer>
      </div>

    </div>
  </div>
</div>


<!-- Button trigger modal inicio de sesion-->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#inicioSesionModal" [hidden]="'true'"
  #btnInicioSesionModal>
  Launch iniciar sesion
</button>

<!--modal mensaje de publicacion/error-->
<app-mensaje-publicacion 
[mensaje]="padreMsjPublicacion" 
[publicado]="padrePublicado"
[rutaOferta] = "padreRutaOferta"
>
</app-mensaje-publicacion>

<!-- Button trigger modal  mensaje de publicacion/error-->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalMensajePublicar" [hidden]="'true'"
  #btnMensajePublicarModal>
  Launch 
</button>