.contenedor-body{
    background: #ebebeb;
}

.contenedor-main{
    margin-top: 5rem;
}

.titulo-publicar{
    font-size: 1.625rem;/*26px;*/
    font-family:Helvetica;
    color: rgb(72, 72, 72) !important;
    font-weight: 600;
}

.subtitulo-publicar{
    font-size: 1rem;/*16px;*/
    color: rgb(72, 72, 72) !important;
    font-weight: 600;
    text-align: center;
}

.parrafo-introductorio-publicar{
    text-align: justify;
    font-family: Helvetica;
}

.direccion-info{
    color: #484848;
    background-color: #fff;    
    font-family: Helvetica;
    position: absolute;
    top: 5.625rem;/*90px;*/
    left: 5.625rem;/*90px;*/
    width: 18.75rem;/*300px;*/
    text-align: left;
    font-size: 0.8125rem;/*13px;*/

}

.image-upload.col-6 label div{
    width: 8.375rem;/*134px;*/
    height: 6.0625rem;/*97px;*/
    background-color: #868e96;
    border: 0.25rem solid white; /*4px*/
    box-shadow: 0px 0px 0.125rem black;/*0px 0px 2px*/
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.image-upload.col-6 label i{
    position: absolute;
    cursor: pointer;
    top: 2.25rem;/*36px;*/
    left: 4.125rem;/*66px;*/
    width: 2rem;/*32px;*/
    height: 2rem;/*32px;*/
}


.col-lg-4 .image-upload label div{
    width: 13.4375rem;/*215px;*/
    height: 8.9375rem;/*143px;*/
    background-color: #868e96;
    border: 0.25rem solid white;/*4px*/
    box-shadow: 0px 0px 0.125rem black;/*2px*/
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.fa-file-imagen{
    position: absolute;
    left: 6.5625rem;/*105px;*/
    top: 3.4375rem;/*55px;*/
    width: 2.5rem;/*40px;*/
    height: 2.5rem;/*40px;*/
    cursor: pointer;
}



input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {

    -webkit-appearance: none;
    margin: 0;

}

 

input[type=number] {

    -moz-appearance:textfield;

}

.image-upload  input {
    display: none;
}

.time-control{
    padding-left: 1.25rem;/*20px;*/
}

.horario-item{
    border-bottom: 0.0625rem solid rgba(0,0,0,.125) !important;/*1px*/
}

div.servicio-item i{
    text-align: left !important;
}

.descripcionPublicar{
    min-height: 7.8125rem; /*125px;*/
    max-height: 7.8125rem;/*125px;*/
}

.btn-publicar{
    background:#ff9900;
    color: white;
    font-family: Helvetica;
    letter-spacing: 0.0625rem;/*1px;*/
    font-family: Rounded;
    font-size: 1.125rem;/*18px;*/
}

.btn-publicar:hover{
    box-shadow: 0px 0px 0.4375rem #00324b;/*0px 0px 7px*/
}

.select-pais-codigo{
    background-color: #e9ecef;
    padding-left: 0px !important;
    padding-right: 0.3125rem !important;/*5px*/
}

.banner-promocional{
    height: 6.25rem;/*100px*/
    margin: 0px auto;
    background-color: #cbcbcb;
    color: black;
}

.banner-promocional h5{
    font-size: medium;
} 

/****************************************************************************/
/***************** Adaptacion para tablets **********************/
/****************************************************************************/
@media screen and (min-width: 576px) and (max-width: 767px) {

    .image-upload.col-6 label div{
        width: 7.8rem;/*109.2px;*/
        height: 6rem;/*84px;*/
    }

    .col-lg-4 .image-upload label div{
        width: 12rem;/*168px;*/
        height: 8rem;/*112px;*/
    }

    .fa-file-imagen{
        position: absolute;
        left: 6rem;/*84px;*/
        top: 3rem;/*42px;*/
    }
    
}

/****************************************************************************/
/***************** Adaptacion para Smartphons **********************/
/****************************************************************************/
@media screen and (max-width: 575px){


    .card-contenedor-principal{
        padding-left: 0px;
        padding-right: 0px;
    }
     
    .card-body-contenedor-principal{
        padding-left: 0px;
        padding-right: 0px;
    }

}

@media screen and (min-width:400px) and (max-width:575px){

    .image-upload.col-6 label div{
        width: 10rem;
        height: 7rem;
    }
}


