<!--
<div class="row my-4">
  <div class="col">
    
    <div class="card bg-dark text-white">
      <img src="../../assets/12324.jpg" class="card-img imagen-promocional" alt="...">
      <div class="card-img-overlay">
        <p class="card-text text-left texto-imagen-promocional mt-5 mb-3">Encuentra inquilinos  facil y rapido, pública tus apartamentos o pensiones <strong>Totalmente Gratis</strong></p>
        <a href="#" class="btn btn-publicar btn-lg btn-block">Públicar</a>
      </div>
    </div>

  </div>
</div>-->

<div class="row">
  <div class="col">
    <div class="card-columns">

      <div class="card mb-2">
        
        <div class="card-img-top" [style.background-image]="'url('+ruta+imagenes[0]+')' "></div>  
        
        <div class="card-body text-left">
          <h4 class="titulo-card ">Libro de matematica en venta</h4>
          <div>    
            <span class="ubicacion text-muted">
              <i class="fa fa-map-marker"></i>
             Cartagena Bolivar
            </span>
            
          </div> 
          
        </div>
        <div class="card-footer ">
          <span class="precio text-body">$ 800.000 COP</span>
          <a class="btn btn-ver-mas btn-sm btn-block " href="#">Ver más</a>
        </div>
      </div>

      <div class="card mb-2">
        
        <div class="card-img-top" [style.background-image]="'url('+ruta+imagenes[1]+')' "></div>  

        <div class="card-body text-left">
          <h4 class="titulo-card ">Pension en arriendo</h4>
          <div>    
            <span class="ubicacion text-muted">
              <i class="fa fa-map-marker"></i>
              av. pedro heredia calle#25b
            </span>
           
          </div> 
          
        </div>
        <div class="card-footer ">
          <span class="precio text-body">$ 450.000.000 COP</span>
          <a class="btn btn-ver-mas btn-sm btn-block " href="#">Ver más</a>
        </div>
      </div>

      <div class="card mb-2">
          
        <div class="card-img-top" [style.background-image]="'url('+ruta+imagenes[2]+')' "></div>  

        <div class="card-body text-left">
          <h4 class="titulo-card ">Libro de matematica en venta</h4>
          <div>    
            <span class="ubicacion text-muted">
              <i class="fa fa-map-marker"></i>
             Cartagena Bolivar
            </span>
            
          </div> 
          
        </div>
        <div class="card-footer ">
          <span class="precio text-body">$ 800.000 COP</span>
          <a class="btn btn-ver-mas btn-sm btn-block " href="#">Ver más</a>
        </div>
      </div>

      
      <div class="card mb-2">
        <div class="card-img-top" [style.background-image]="'url('+ruta+imagenes[3]+')' "></div>  

        <div class="card-body text-left">
          <h4 class="titulo-card ">Apartamento en arriendo</h4>
          <div>    
            <span class="ubicacion text-muted">
              <i class="fa fa-map-marker"></i>
              av. camino de enmedio calle #26a
            </span>
            
          </div> 
          
        </div>
        <div class="card-footer ">
          <span class="precio text-body">$ 9.000.000 COP</span>
          <a class="btn btn-ver-mas btn-sm btn-block " href="#">Ver más</a>
        </div>
      </div>

      <div class="card mb-2">
        <div class="card-img-top" [style.background-image]="'url('+ruta+imagenes[4]+')' "></div>  

        <div class="card-body text-left">
          <h4 class="titulo-card ">Habitacion disponible en arriendo</h4>
          <div>    
            <span class="ubicacion text-muted">
              <i class="fa fa-map-marker"></i>
             Barranquilla Atlantico ave. caracas crra 14 #46b
            </span>
            
          </div> 
          
        </div>
        <div class="card-footer ">
          <span class="precio text-body">$ 800.000 COP</span>
          <a class="btn btn-ver-mas btn-sm btn-block " href="#">Ver más</a>
        </div>
      </div>

      <div class="card mb-2">
          <div class="card-img-top" [style.background-image]="'url('+ruta+imagenes[5]+')' "></div>  

        <div class="card-body text-left">
          <h4 class="titulo-card ">Apartamento en venta</h4>
          <div>    
            <span class="ubicacion text-muted">
              <i class="fa fa-map-marker"></i>
              San josé de los campanos av. principal calle #66c-34b
            </span>
            
          </div> 
          
        </div>
        <div class="card-footer ">
          <span class="precio text-body">$ 100.000.000 COP</span>
          <a class="btn btn-ver-mas btn-sm btn-block " href="#">Ver más</a>
        </div>
      </div>

      <div class="card mb-2">
          <div class="card-img-top" [style.background-image]="'url('+ruta+imagenes[6]+')' "></div>  

        <div class="card-body text-left">
          <h4 class="titulo-card ">Pension en arriendo</h4>
          <div>    
            <span class="ubicacion text-muted">
              <i class="fa fa-map-marker"></i>
              av.el consulado crra 16 calle #26a
            </span>
            
          </div> 
          
        </div>
        <div class="card-footer ">
          <span class="precio text-body">$ 9.000.000 COP</span>
          <a class="btn btn-ver-mas btn-sm btn-block " href="#">Ver más</a>
        </div>
      </div>

      <div class="card mb-2">
          <div class="card-img-top" [style.background-image]="'url('+ruta+imagenes[7]+')' "></div>  

        <div class="card-body text-left">
          <h4 class="titulo-card ">Calculadora + juego de escuadra en venta</h4>
          <div>    
            <span class="ubicacion text-muted">
              <i class="fa fa-map-marker"></i>
            Medellin Antioquia
            </span>
            
          </div> 
          
        </div>
        <div class="card-footer ">
          <span class="precio text-body">$ 100.000.000 COP</span>
          <a class="btn btn-ver-mas btn-sm btn-block " href="#">Ver más</a>
        </div>
      </div>

      <div class="card mb-2">
          <div class="card-img-top" [style.background-image]="'url('+ruta+imagenes[8]+')' "></div>  

        <div class="card-body text-left">
          <h4 class="titulo-card ">Calculadora + juego de escuadra en venta</h4>
          <div>    
            <span class="ubicacion text-muted">
              <i class="fa fa-map-marker"></i>
            Medellin Antioquia
            </span>
            
          </div> 
          
        </div>
        <div class="card-footer ">
          <span class="precio text-body">$ 100.000.000 COP</span>
          <a class="btn btn-ver-mas btn-sm btn-block " href="#">Ver más</a>
        </div>
      </div>


      <div class="card mb-2">
          <div class="card-img-top" [style.background-image]="'url('+ruta+imagenes[9]+')' "></div>  

        <div class="card-body text-left">
          <h4 class="titulo-card ">Calculadora + juego de escuadra en venta</h4>
          <div>    
            <span class="ubicacion text-muted">
              <i class="fa fa-map-marker"></i>
            Medellin Antioquia
            </span>
            
          </div> 
          
        </div>
        <div class="card-footer ">
          <span class="precio text-body">$ 100.000.000 COP</span>
          <a class="btn btn-ver-mas btn-sm btn-block " href="#">Ver más</a>
        </div>
      </div>


      <div class="card mb-2">
        <div class="card-img-top" [style.background-image]="'url('+ruta+imagenes[10]+')' "></div>  

        <div class="card-body text-left">
          <h4 class="titulo-card ">Calculadora + juego de escuadra en venta</h4>
          <div>    
            <span class="ubicacion text-muted">
              <i class="fa fa-map-marker"></i>
            Medellin Antioquia
            </span>
            
          </div> 
          
        </div>
        <div class="card-footer ">
          <span class="precio text-body">$ 100.000.000 COP</span>
          <a class="btn btn-ver-mas btn-sm btn-block " href="#">Ver más</a>
        </div>
      </div>

      <div class="card mb-2">
          <div class="card-img-top" [style.background-image]="'url('+ruta+imagenes[11]+')' "></div>  

        <div class="card-body text-left">
          <h4 class="titulo-card ">Calculadora + juego de escuadra en venta</h4>
          <div>    
            <span class="ubicacion text-muted">
              <i class="fa fa-map-marker"></i>
            Medellin Antioquia
            </span>
            
          </div> 
          
        </div>
        <div class="card-footer ">
          <span class="precio text-body">$ 100.000.000 COP</span>
          <a class="btn btn-ver-mas btn-sm btn-block " href="#">Ver más</a>
        </div>
      </div>


      <div class="card mb-2">
          <div class="card-img-top" [style.background-image]="'url('+ruta+imagenes[12]+')' "></div>  

        <div class="card-body text-left">
          <h4 class="titulo-card ">Calculadora + juego de escuadra en venta</h4>
          <div>    
            <span class="ubicacion text-muted">
              <i class="fa fa-map-marker"></i>
            Medellin Antioquia
            </span>
            
          </div> 
          
        </div>
        <div class="card-footer ">
          <span class="precio text-body">$ 100.000.000 COP</span>
          <a class="btn btn-ver-mas btn-sm btn-block " href="#">Ver más</a>
        </div>
      </div>

      <div class="card mb-2">
          <div class="card-img-top" [style.background-image]="'url('+ruta+imagenes[13]+')' "></div>  

        <div class="card-body text-left">
          <h4 class="titulo-card ">Pension en arriendo</h4>
          <div>    
            <span class="ubicacion text-muted">
              <i class="fa fa-map-marker"></i>
              av. pedro heredia calle#25b
            </span>
           
          </div> 
          
        </div>
        <div class="card-footer ">
          <span class="precio text-body">$ 450.000.000 COP</span>
          <a class="btn btn-ver-mas btn-sm btn-block " href="#">Ver más</a>
        </div>
      </div>


      <div class="card mb-2">
          <div class="card-img-top" [style.background-image]="'url('+ruta+imagenes[14]+')' "></div>  

        <div class="card-body text-left">
          <h4 class="titulo-card ">Libro de matematica en venta</h4>
          <div>    
            <span class="ubicacion text-muted">
              <i class="fa fa-map-marker"></i>
             Cartagena Bolivar
            </span>
            
          </div> 
          
        </div>
        <div class="card-footer ">
          <span class="precio text-body">$ 800.000 COP</span>
          <a class="btn btn-ver-mas btn-sm btn-block " href="#">Ver más</a>
        </div>
      </div>

      <div class="card mb-2">
          <div class="card-img-top" [style.background-image]="'url('+ruta+imagenes[15]+')' "></div>  

        <div class="card-body text-left">
          <h4 class="titulo-card ">Habitacion disponible en arriendo</h4>
          <div>    
            <span class="ubicacion text-muted">
              <i class="fa fa-map-marker"></i>
             Barranquilla Atlantico ave. caracas crra 14 #46b
            </span>
            
          </div> 
          
        </div>
        <div class="card-footer ">
          <span class="precio text-body">$ 800.000 COP</span>
          <a class="btn btn-ver-mas btn-sm btn-block " href="#">Ver más</a>
        </div>
      </div>


    </div>  
  </div>
</div>



