<!-- Button trigger modal 
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#registrarseModal">
  Launch registrarse
</button>-->

<!-- Modal Inicio sesion, Registrarse-->
<form action="" class="need-validate" (ngSubmit)="guardar()" ngNativeValidate #formRegistro>

  <div class="modal " id="registrarseModal" tabindex="-1" role="dialog" aria-labelledby="registrarseModalLabel"
    aria-hidden="true">
    <div class="modal-dialog  " role="document">
      <div class="modal-content">

        <div class="row justify-content-end">
          <!--Boton cerrar (x)-->
          <button type="button" class="close col-1 pr-3" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body" *ngIf="!sesionIniciada">

          <div class="form-group">
            <p class="text-center frase-registrarse">
              Obten tu cuenta fácil y rapido
            </p>
          </div>

          <div class="form-goup">
            <a href="#" class="btn btn-facebook btn-block">
              <i class="fa fa-facebook fa-lg mr-1 " aria-hidden="true"></i>
              Registrate con Facebook
            </a>
          </div>

          <hr>

          <div class="form-group">
            <input type="email" class="form-control" placeholder="Correo electronico" name="emailRegistro"
              id="emailRegistro" [pattern]="regExp.email" required>
          </div>

          <div class="form-group">
            <input type="text" class="form-control" placeholder="Nombre" name="nombreRegistro" id="nombreRegistro"
              [pattern]="regExp.nombre" required>
          </div>

          <div class="form-group">
            <input type="text" class="form-control" placeholder="Apellidos" name="apellidosRegistro"
              id="apellidosRegistro" [pattern]="regExp.apellidos" required>
          </div>

          <div class="form-group">
            <input type="password" class="form-control" placeholder="Crea una contraseña" name="passwordRegistro"
              id="passwordRegistro" [pattern]="regExp.password" maxlength="20" required>
          </div>


          <div class="custom-control custom-checkbox form-group">
            <input type="checkbox" id="chkTerminosCondiciones" class="custom-control-input" required>
            <label for="chkTerminosCondiciones" class="custom-control-label texto-checkbox">Acepto los <a
                href="#">terminos y condiciones</a></label>
          </div>

          <!--<div class="custom-control custom-checkbox form-group">
            <input type="checkbox" id="chkOfertasEmail" class="custom-control-input" checked>
            <label for="chkOfertasEmail" class="custom-control-label texto-checkbox" >Recibir novedades y ofertas por email</label>
          </div>-->

          <div class="form-group" *ngIf="mostrarMsjDatosIncorrectos">
            <div class="alert alert-secondary">
              El email ingresado ya está en uso, asegurese de estar escribiendolo correctamente
            </div>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-success btn-block font-weight-bold">Registrarse</button>
          </div>

          <div class="form-group text-center mt-2">
            <label for="registrarse" class="form-label text-body">¿Ya tienes una cuenta?</label>
            <a href="#" class="btn btn-link btn-link-sin-efectos text-center" data-dismiss="modal" data-toggle="modal"
              data-target="#inicioSesionModal">Inicia sesión</a>
          </div>

        </div>

        <div class="modal-body" *ngIf="sesionIniciada">

          <div class="form-group">
            <img src="assets/colibri.png" alt="" class="rounded-circle modal-icono mx-auto d-block">
            <h2 class="text-center titulo-modal-icono">ASOGASMON</h2>
          </div>

          <div class="form-group">
            <div class="alert alert-primary">
              <p class="text-center">
                Bienvenido a ASOGASMON, Encuentra y promociona articulos, apartamentos, habitaciones y pensiones
              </p>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>

</form>