<div class="modal fade bd-example-modal-xl modal-contenedor" id="fullScreenModal" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl ">
        <div class="modal-content">

            <div id="carouselFullScreenControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">

                    <div class="carousel-item" [ngClass]="{active: i == '0'}" *ngFor="let imagen of ofertaDetalladaActualService.ofertaDetallada.fotos; let i = index">
                        <div [ngSwitch]="ofertaDetalladaActualService.ofertaDetallada.INMUEBLE">
                            <div *ngSwitchCase="'PENSION'" class="imagen-oferta" [style.background-image]="'url('+API_URL+'ofertasPension/'+ofertaDetalladaActualService.ofertaDetallada.ID+'/'+imagen.FOTO+')' "></div>
                            <div *ngSwitchCase="'HABITACION'" class="imagen-oferta" [style.background-image]="'url('+API_URL+'ofertasHabitacion/'+ofertaDetalladaActualService.ofertaDetallada.ID+'/'+imagen.FOTO+')' "></div>
                            <div *ngSwitchCase="'CASAAPTO'" class="imagen-oferta" [style.background-image]="'url('+API_URL+'ofertasCasaApto/'+ofertaDetalladaActualService.ofertaDetallada.ID+'/'+imagen.FOTO+')' "></div>
                        </div>
                    </div>

                </div>

                <div class="contenedor-controles">
                    <a class="carousel-control-prev" href="#carouselFullScreenControls" role="button" data-slide="prev">
                        <div class="contenedor-icono">
                            <i class="fa fa-angle-left fa-2x"></i>
                        </div>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselFullScreenControls" role="button" data-slide="next">
                        <div class="contenedor-icono">
                            <i class="fa fa-angle-right fa-2x"></i>
                        </div>
                        <span class="sr-only">Next</span>
                    </a>
                    <a class="btn-cerrar" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-close fa-3x"></i>
                    </a>
                </div>

            </div>

        </div>
    </div>
</div>