<!--MAIN-->
<main class="row justify-content-center contenedor-main" role="main">

    <div class="card col-12 col-sm-11 col-lg-10">
        <div class="card-body">

            <!--Foto, datos basicos, boton mis conversaciones-->
            <div class="row">
                <!--Foto de perfil-->
                <div class="col-4 text-center pr-0 contenedor-card-img-user" *ngIf="this.usuarioService.datos">
                    <div *ngIf="this.usuarioService.datos.FOTO" class="card-img-user ml-auto mr-1" [style.background-image]="'url('+this.usuarioService.datos.FOTO+')' "></div>
                </div>

                <!--Correo electronico y boton de mis conversaciones-->
                <div class="col-8 pl-0">
                    <div class="my-5">
                        <h2 class="col-12 titulo-user " *ngIf="usuarioService.datos != null">
                            {{usuarioService.datos.NOMBRE + " "+usuarioService.datos.APELLIDOS | titlecase}}</h2>
                        <h3 class="col-12 subtitulo-user " *ngIf="usuarioService.datos != null">
                            {{usuarioService.datos.EMAIL}}</h3>
                    </div>
                </div>
            </div>

            <hr class="w-100">

            <!--Bootones para actualizar foto de perfil, modificar contraseña, editar
              los datos basicos del usuario-->
            <div class="row my-3 justify-content-center contenedor-btns-opciones">
                <div class="col-4 text-center">

                    <div class="image-upload">
                        <label for="file-input" class="btn btn-outline-info btn-block">
                            Actualizar foto
                        </label>


                        <input id="file-input" type="file" accept="image/*" (change)="onSelectFile($event)" />
                    </div>

                </div>

                <div class="col-4 text-center col-modificar-contrasenia">
                    <a href="#modificarContraseniaModal" class="btn btn-outline-info btn-block" data-toggle="modal">Modificar contraseña</a>
                </div>

                <div class="col-4 text-center col-actualizar-datos">
                    <a href="#editarDatosBasicosModal" class="btn btn-outline-info btn-block" data-toggle="modal">Editar
                        datos basicos</a>
                </div>
            </div>

            <!--Mis anuncios-->
            <div class="row justify-content-center mt-5">
                <h3 class="col-12 titulo-user text-left">Mis anuncios</h3>

                <div class="col-12" *ngIf="tenemosAnuncios">

                </div>

                <div class="col-12" *ngIf="!tenemosAnuncios">
                    <h4 class="subtitulo-user text-left">Aun no ha hecho anuncios</h4>
                </div>

            </div>

            <!--Banner publicitario-->
            <div class="row mt-3">
                <div class="rounded banner-promocional">
                    <h5>esto es una publicidad</h5>
                </div>
            </div>

            <!--Banner publicitario-->
            <div class="row mt-3">
                <div class="rounded banner-promocional">
                    <h5>esto es una publicidad</h5>
                </div>
            </div>

        </div>
    </div>

    <!--Modals de modificar contraseña y editar datos basicos-->
    <app-modificar-contrasenia></app-modificar-contrasenia>
    <app-editar-datos-basicos></app-editar-datos-basicos>

</main>

<!--ASIDE(banner publicitario grande)-->
<div class="row mt-4">
    <aside class="col text-white text-center">
        <div class="rounded banner-promocional-grande">
            <h5>esto es una publicidad</h5>
        </div>
    </aside>
</div>